Caro {{ user.nome }},

Recebemos um pedido para redefinir a senha para a sua conta. Clique
no link abaixo para cadastrar uma nova senha

{{ host }}{{ url_for('auth.reset_password', token=token) }}

Se você não pediu essa redefinição, basta ignorar este email
