{% extends '_layout.jinja2' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <form action="" method="post">
                                {{ form.csrf_token }}
                                {{ render_field(form.nome) }}
                                {{ render_field(form.submit) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
