{% extends '_layout.jinja2' %}

{% block content %}
    <table class="table table-striped table-hover">
    <thead><tr>
            <th scope="col">Nome da categoria</th>
            <th scope="col">Operações</th>
    </tr></thead>
    <tbody>
    {% for categoria in rset %}
        <tr><td>{{ categoria.nome }}</td>
            <td>Excluir, editar</td></tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
