{% extends '_layout.jinja2' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
	<div class="row justify-content-center">
    <table class="table table-hover table-striped">
        <thead>
            <tr class="align-middle">
                <th scope="col">Nome</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in rset %}
            <tr class="align-middle">
                <td>{{ categoria.nome }}</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary btn-sm"
                           href="{{ url_for('categorias.edit', id_categoria=categoria.id) }}">
                            {{ render_icon('pencil-square', size='1.25em', title="Alterar") }}
                        </a>
                        <a class="btn btn-danger btn-sm"
                           href="{{ url_for('categorias.remove', id_categoria=categoria.id) }}"
                           onclick="return confirm('Deseja realmente remover a categoria {{ categoria.nome }}?')">
                            {{ render_icon('trash', size='1.25em', title="Remover") }}
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
