{% macro user_sidebar() %}
    {% from 'bootstrap5/utils.html' import render_icon %}
    <table class="table table-sm small justify-content-center">
        <tr>
            <td colspan="2" class="text-center">
                <img src="{{ current_user.url_gravatar(256) }}"
                     class="rounded-circle me-3 mb-4"
                     alt="Avatar do usuário" />
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Registrado em</th>
            <td class="text-center">{{ current_user.dta_cadastro | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Acesso atual</th>
            <td class="text-center">{{ current_user.dta_acesso_atual | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Último atualização</th>
            <td class="text-center">{{ current_user.dta_atualizacao | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Segundo fator de autenticação</th>
        {% if current_user.usa_2fa %}
            <td class="text-center">{{ render_icon('shield-fill-check', size='1.5em', color='success') }}</td>
        {% else %}
            <td class="text-center">{{ render_icon('shield-slash-fill', size='1.5em', color='danger') }}</td>
        {% endif %}
        </tr>

    </table>
{% endmacro %}
