Caro {{ nome }},

Recebemos um pedido de mudança da sua senha.  Se você realmente
fez esse pedido, clique no link abaixo para efetuar o cadastro
da nova senha.

Se você não fez esse pedido, tem um bom final de semana.

{{ link }}
